html 
{
	height 	: 100%;
}

body 
{
	height 		: 100%;
	width 		: 100%;
	margin 		: 0px;
	font-family	: Arial, Helvetica, sans-serif;
	font-size	: 13px;
	line-height	: 16px;
	color		: #DDD;
	background	: #000;
	overflow	: hidden;
}


img#logo
{
	position	: absolute;
	left		: 50%;
	margin-left	: -319px;
	top			: 140px;
}


/**
 *	Loginform
 */

#loginform
{
	width 		: 500px;
	background 	: rgba(255, 255, 255, 0.15);
	padding 	: 20px;
	position 	: absolute;
	left 		: 50%;
	top 		: 50%;
	margin-left : -270px;
	margin-top 	: -23px;
	text-align	: center;
	border-top 	: 4px solid #666;
}

input
{
	font-size 				: 18px;
	padding 				: 3px;
	border-radius			: 3px;
	-webkit-border-radius	: 3px;
	border 					: 1px solid #AAA;
}

input.btn
{
	padding 				: 5px;
	border-radius			: 3px;
	-webkit-border-radius	: 3px;
	border 					: 1px solid #888;
	background				: #f2f6f8;
	background				: -moz-linear-gradient(top,  #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
	background				: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f6f8), color-stop(50%,#d8e1e7), color-stop(51%,#b5c6d0), color-stop(100%,#e0eff9));
	background				: -webkit-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
	background				: -o-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
	background				: -ms-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
	background				: linear-gradient(to bottom,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
	filter					: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 );
	font-size 				: 13px;
	vertical-align			: top;
}


/**
 *	Game elements
 */

#cash
{
	position 		: absolute;
	border-bottom 	: 4px solid #666;
	background 		: rgba(255, 255, 255, 0.15);
	padding			: 15px;
	font-size		: 14px;
	color			: #f5c10d;
	font-weight 	: bold;
	text-shadow		: 0px 0px 4px #000;
    filter			: dropshadow(color=#000, offx=0, offy=0);
    z-index 		: 99;
}

#sidebar
{
	position 		: absolute;
	right 			: 0px;
	top 			: 0px;
	height 			: 100%;
	width 			: 140px;
	background 		: rgba(255, 255, 255, 0.15);
	border-left 	: 4px solid #666;
	z-index 		: 99;

}

#sidebar h1
{
	font-size			: 16px;
	margin 				: 0px;
	padding 			: 10px;
	text-align 			: center;
	-webkit-box-shadow	: 5px 3px 5px 0px rgba(0, 0, 0, 1);
	box-shadow			: 5px 3px 5px 0px rgba(0, 0, 0, 1);
	position			: relative;
	z-index 			: 100;
}

#sidebar .shop
{
	font-size			: 16px;
	color 				: #00AA00;
	margin 				: 0px;
	padding 			: 10px;
	width 				: 120px;
	text-align 			: center;
	-webkit-box-shadow	: 5px 3px 5px 5px rgba(0, 0, 0, 1);
	box-shadow			: 5px 3px 5px 5px rgba(0, 0, 0, 1);
	position			: absolute;
	bottom 				: 0px;
	z-index 			: 100;
	cursor 				: pointer;
	background: #7d7e7d;
	background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e));
	background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);
	background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);
	background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);
	background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
}

#sidebar .item
{
	height 			: 140px;
	width 			: 140px;
	background 		: rgba(255, 255, 255, 0.15);
	margin-bottom 	: 1px;
	cursor 			: pointer;

}

#sidebar .item.water
{
	background 		: rgba(0, 0, 255, 0.6);
}

#sidebar .item.fire
{
	background 		: rgba(255, 0, 0, 0.6);
}

#sidebar .item.earth
{
	background 		: rgba(0, 255, 0, 0.6);
}

#sidebar .item .name
{
	display 		: block;
	font-weight 	: bold;
	text-align 		: center;
	padding 		: 5px;
}

#sidebar .item .xp
{
	width 			: 130px;
	text-align 		: center;
	padding 		: 5px;
	position 		: absolute;
	bottom 			: 5px;
}

.dialogue
{
	width 				: 400px;
	font-weight 		: bold;
	background-color 	: #222;
	color 				: #FFF;
	padding 			: 10px;
	font-size 			: 15px;
	line-height 		: 24px;
	text-align 			: center;
}

.dialogue .buttons
{
	margin-top 	: 20px;
}

.dialogue .buttons input
{
	font-weight : normal;
	font-size 	: 14px;
}

.shop
{
	width 				: 440px;
	font-weight 		: bold;
	background-color 	: #222;
	color 				: #FFF;
	padding 			: 10px;
	font-size 			: 15px;
	line-height 		: 24px;
}

.shop h2
{
	margin 			: 0px;
	margin-bottom 	: 10px;
}

.missionWindow
{
	z-index					: 50; 
	position				: absolute; 
	left					: 200px; 
	top						: 200px; 
	width					: 200px; 
	height					: 100px; 
	background				: rgba(190, 0, 0, 0.3); 
	border					: 2px solid #AA0000; 
	border-radius			: 5px; 
	-webkit-border-radius	: 5px;	
}